html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* BATAS */
body {
    background-color: whitesmoke;
    /* display: flex; */
    font-family: Arial, Helvetica, sans-serif;
}

.logo-utama{
    padding-left: 100px;
    width: 300px;
    margin-right: auto;
}
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #7F27FF;
}

.navbar-search {
    position: relative;
    left: 15%;
    justify-content: center;
    display: flex;
}

.navbar-search form {
    display: flex;
    align-items: center;
}

.navbar-search button {    border: none;
    color: white;
    background-color: #FF8911;
}

.navbar-search button:hover {
    background-color: #FF8911;
    color: white;
}

.navbar-masukdaftar {
    display: flex;
    margin-left: auto;
    padding-right: 100px;
}

.navbar-masukdaftar a {
    text-decoration: none;
}

.masukdaftar-masuk{
    border: none;
    border-radius: 7.5px;
    color: #ffffff;
    cursor: pointer;
    background-color: #FF8911;
    margin-right: 20px;
    padding: 6px 12px;
    opacity: 0.95;
    width: 85px;
    height: 38px;
    font-size: 18px;
}

.masukdaftar-daftar{
    border: none;
    border-radius: 7.5px;
    color: #ffffff;
    cursor: pointer;
    background-color: #FF8911;
    padding: 6px 12px;
    font-size: 18px;
    width: 85px;
    height: 38px
}

.menu {
    background-color: rgb(253, 159, 65);
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-nav {
    display: flex; 
    font-size: 19px;
    font-weight: bold;
}

.menu-nav a{
    padding: 10px;
    color: white;
    text-decoration: none;
    opacity: 0.9;
}

.menu-nav a:hover{
    border-radius: 5px;
    color: white;
    opacity: 1;
}

/* SECTION */

.panel-utama {
    margin: 50px 125px;
}

.panel-kenalan{
    max-width: 700px;
    margin-bottom: 100px;
}
.panel-kenalan h1{
    /* display: flex; */
    font-weight: bold;
    font-size: 35px;
    color: #7F27FF;
    margin-bottom: 7px;
}

.panel-kenalan span{
       color: black;
}

/* KODE PROMO */

.panel-promo {
    margin-bottom: 50px;
}

.panel-promo h3 {
    font-size: 15px;
    font-weight: bold;
    color: #7F27FF;
    margin-bottom: 7px;
}

.panel-promo h1 {
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
}

.promo-utama {
    display: flex;
    justify-content: center;
}

.foto-diskon img{
    width: 420px;
    padding: 0 9px 0 1px;
}
  
.promo-tiket {
    margin-right: 25px;
    background-color: #FDBF60;
    border: 5px solid transparent;
    padding: 10px;
    width: 100%;
    border-radius: 15px;
    max-width: 400px;
}

.tiket-keterangan {
    border: 2px dashed;
    padding: 4px;
    margin: auto;
    margin-bottom: 10px;
    margin-top: 10px;
    max-width: max-content;
}
.expired {
    color: black;
}

/* GAME POPULER */

.gambar {
    width: 280px;
}
.game-populer {
    margin-bottom: 50px;
    
}

.game-populer h3{
    font-size: 15px;
    font-weight: bold;
    color: #7F27FF;
    margin-bottom: 7px;
}

.game-populer h1{
    margin-bottom: 40px;
    font-size: 30px;
    font-weight: bold;
}

.populer-gambar{
    /* cursor: pointer; */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.populer-gambar a {
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-decoration: none;
}
.gambar-logo{
    margin: 15px 0 0 20px;
    display: flex;
}

.logo {
    width: 65px;
    height: 65px;
}
.logo-tulisan {
    margin-left: 10px;
}

.logo-tulisan p {
    margin-bottom: 40px;
}

.logo-tulisan p:hover {
    text-decoration: none;
}
.logo-tulisan h3{
    color:  black;
    display: inline-block;
    font-size: 16px;
}

.logo-tulisan p{
    font-size: 13px;
    color: rgb(68, 68, 68);
    text-decoration: none;
}

.topup {
    font-weight: bolder;
    color: white;
    background-color: #7F27FF;
    border: none;
    border-end-end-radius: 3px;
    border-end-start-radius: 3px;
    height: 28px;
}

/* GAME */

.inti-inti h3{
    font-size: 15px;
    font-weight: bold;
    color: #7F27FF;
    margin-bottom: 7px;
}

.inti-inti h1{
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

.inti-inti p{
    width: 100%;
    max-width: 600px;
    opacity: 0.9;
    margin-bottom: 40px;
}

.gambar-topup{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gambar-topup a {
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-decoration: none;
    margin-bottom: 2%;
}

.logo-tulisan {
    margin-left: 10px;
}
.logo-tulisan h3{
    color:  black;
    display: inline-block;
    font-size: 16px;
}

.logo-tulisan p{
    font-size: 13px;
    color: rgb(68, 68, 68);
}

/* PULSA */

.pulsa {
    margin-top: 40px;
}
.pulsa h1 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

.gambar-pulsa{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gambar-pulsa a {
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-decoration: none;
    margin-bottom: 2%;
}

.logo-tulisan {
    margin-left: 10px;
}
.logo-tulisan h3{
    color:  black;
    display: inline-block;
    font-size: 16px;
}

.logo-tulisan p{
    font-size: 13px;
    color: rgb(68, 68, 68);
}

/* VOUCHER */

.voucher {
    margin-top: 40px;
}
.voucher h1 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
}

.gambar-voucher{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gambar-voucher a {
    margin-left: 2.5%;
    margin-right: 2.5%;
    text-decoration: none;
    margin-bottom: 2%;
}

.logo-tulisan {
    margin-left: 10px;
}
.logo-tulisan h3{
    color:  black;
    display: inline-block;
    font-size: 16px;
}

.logo-tulisan p{
    font-size: 13px;
    color: rgb(68, 68, 68);
}
/* FOOTER */

.footer-utama {
    background-color: white;
}
.footer-pertama {
    background-color: white;
}

.pertama-banget {
    margin: 50px 250px 0 250px;
    padding: 60px 25px 0 25px;
}


.footer-pertama h2 {
    font-weight: bold;
    font-size: 25px;
}

.footer-pertama p {
    opacity: 0.9;
}

.pertama-banget h3 {
    margin-top: 50px;
    font-weight: bold;
}

.logo-pembayaran {
    margin-bottom: 50px; 
}

.logo-pembayaran a {
    text-decoration: none;
}

.dukung {
padding: 10px 0 0 10px; 
}

.footer-kedua {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #7F27FF;
}

.kedua-banget {
    padding: 30px 0 30px 150px;
    margin-right: auto;
    color: white;
}

.kedua-banget h2 {
    font-weight: bold;
    font-size: 25px;
}

.kedua-banget p {
    margin-top: 20px;
    opacity: 0.9;
    display: flex;
}

.kedua-button {
    padding-right: 200px;
}

.kedua-button a{
    text-decoration: none;
}

.button-daftar {
    border: none;
    border-radius: 7.5px;
    color: #ffffff;
    cursor: pointer;
    background-color: #FF8911;
    margin-right: 20px;
    padding: 7px 12px;
    opacity: 0.95;
    font-size: 18px;
    height: 40px;
}

/* NOTE MASIH ACAK-ACAK AN footer ketiganya, class ketiga-kontak sm ketiga-topupin & ketiga-ikuti ga sejajar */


/* .footer-ketiga {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

.ketiga-kontak {
    padding: 50px 0 10px 300px;
    margin-right: auto;
    color: black;
}

.ketiga-topupin {
    justify-content: center;
    padding: 17px 0 0 0;
}

.ketiga-ikuti {
    margin-left: auto;
    padding: 17px 300px 0 0;

} */

.hakcipta {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    padding: 50px 0 25px 0;
}







